.product {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;

    max-width: 320px;

    border: 3px solid black;
    border-radius: 10px;

    overflow: hidden;

    padding: 0.75rem;
}

.img_div {
    overflow: hidden;
}

.img {
    width: 100%;
    border-radius: 5%;
}

.content {
    display: grid;
    gap: 1.25rem;
}

.title {
    font-size: var(--product-title-size);
    font-weight: 450;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.price {
    font-size: var(--price-size);
}

.add_cart {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add_button {
    border: 1px solid black;
    border-radius: 5%;
    padding: 0.5rem 1rem;
}
