.homepage {
    background-color: #000000;
    opacity: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 3.5rem 1rem;

    color: white;

    text-align: center;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.description {
    font-size: 1.4rem;
}

.featured {
    text-align: center;
    margin-top: 2.75rem;
}

.featured_title {
    font-size: 2.5rem;
    font-weight: 500;

    margin-bottom: 1.5rem;
}
