.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    justify-content: space-between;
    padding: 1rem 0;
    background: white;
    z-index: 999;
}

.cart {
    color: gray;
    display: block;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.list li {
    font-size: 1.5rem;
    cursor: pointer;
}

.title {
    font-size: 3.2rem;
    cursor: pointer;
}
