.cart_product {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.75rem;

    border: 3px solid black;
    border-radius: 10px;

    overflow: hidden;

    padding: 0.75rem;
}

.img_div {
    overflow: hidden;
    max-width: 100px;
}

.img {
    width: 100%;
    border-radius: 5%;
}

.content {
    display: grid;
    gap: 1.25rem;
}

.title {
    font-size: var(--product-title-size);
    font-weight: 450;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.price {
    font-size: var(--price-size);
}

.quantity {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.quantity > button {
    line-height: 0;
    border: 1px solid black;
    font-size: 1.25rem;
    width: 40px;
    height: 40px;
}

.input {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
